.git
.venv
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
tests
scripts
!scripts/entrypoint.sh
watch
run
bin
libs/nexus-proto/.git
libs/nexus-proto/generated/cpp
libs/nexus-proto/generated/typescript
